*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: linear-gradient(rgb(158, 204, 165),rgb(4, 218, 189));
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.momo{
    width: 50%;
    border-radius: 50px;
    height: 5vh;
    border: 1px solid rgb(217, 236, 219);
    text-align: center;
   background-color: rgb(158, 204, 165);
    
}
.tilt{
    font-size: 20px;
    
}

.momo:focus{
    outline: 2px solid rgb(64, 170, 219);
}

.nav{
    display: flex;
    background-image: linear-gradient(rgb(88, 219, 101),rgb(138, 202, 142));
justify-content: space-between;
align-items: center;
padding:10px 30px;
position: fixed;
width: 100%;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}
a{
    color: inherit;
   text-decoration: none;
}
.pro{
    display: flex;
    width: 10%;
}
.jjp{
  
    width: 20%;
 
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.saki{
    margin-top: 2%;
    height: 45vh;

}

.tag{
    border-bottom: 1px solid rgb(104, 104, 245);
    margin-bottom: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.tag1{
    width: 100%;
     margin-bottom: 7%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.tag2{
     margin-bottom: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.loop{
    background-color: rgb(144, 226, 171);
    width: fit-content;
    border: none;
    padding: 4px 5px;
  
    color: white;
        padding: 10px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.loo{
    margin-left: 7%;
    margin-top: 1%;
    color: rgb(250, 250, 250);
    
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(10, 165, 10);
  border-radius: 10px;
}
.loo:hover{
    color: rgb(78, 212, 78);
}

.kol{

    margin-top: 30px;
}
.gom{
    margin-top: 5%;
    margin-left: 2%;
   
}
.mmm{
  
display: flex;
border: 1px solid rgb(207, 207, 207);
width: fit-content;
padding: 10px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 background-color: inherit;
}

.bodyq{
    display: flex;
    padding: 1%;

}

.saka{
font-weight: 600;
    color: rgb(255, 255, 255);
}


.space-up{
    width: 100%;
    padding-top: 5%;
}
.saki{
    width: 100%;
}

