*{
    padding: 0%;
    margin: 0%;
}

.momo{
    width: 50%;
    border-radius: 50px;
    height: 5vh;
    border: 1px solid rgb(71, 71, 253);
    text-align: center;
}
.tilt{
    font-size: 20px;
    
}

.momo:focus{
    outline: 2px solid rgb(71, 71, 253);
}

.nav{
    display: flex;
background-color: white;
justify-content: space-between;
align-items: center;
padding:10px 30px;
position: fixed;
width: 100%;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.pro{
    display: flex;
    width: 10%;
}
.jjp{
  
    width: 20%;
 
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.saki{
    margin-top: 2%;
    height: 45vh;
}

.tag{
    border-bottom: 1px solid rgb(104, 104, 245);
    margin-bottom: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.tag1{
    width: 100%;
     margin-bottom: 7%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.tag2{
     margin-bottom: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.loop{
    background-color: orange;
    width: fit-content;
    border: none;
    padding: 4px 5px;
    border-radius: 20px;
    color: white;
}
.loo{
    margin-left: 7%;
    margin-top: 1%;
    color: rgb(104, 104, 245);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
}
.loo:hover{
    color: rgb(78, 212, 78);
}

.kol{
    display: flex;
}
.gom{
    
    margin-left: 2%;
   
}
.mmm{
  
display: flex;
border: 1px solid rgb(207, 207, 207);
width: fit-content;
padding: 10px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 background-color: antiquewhite;
}

.bodyq{
    display: flex;
    padding: 1%;
  
}

.saka{
font-weight: 600;
    color: blue;
}